<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Oops, something wrong</title>
<style media="all">
@@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url(/fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Hw0aXpsog.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
</style>

<meta name="robots" content="noindex, follow">
</head>
<body style="font-family:Montserrat">
<div id="notfound">
<div class="notfound">
<div class="notfound-404">
<h1>Something wrong...</h1>
</div>
<h2>Oops! There's something wrong..</h2>
<p>Sorry but the page you are looking for does not exist, have been removed. name changed or is temporarily unavailable</p>
<a href="@Url.Action("Index")">Go To Home</a>
</div>
</div>
</body>
</html>
